.section.section--footer
  .section-content
    .footerContainer
      .footerContainer-linksContainer
        // 메뉴 링크
        .footerContainer-menuLinks
          .footerContainer-menuLinksColumn
            .footerContainer-menuLinksColHead 브랜드스토리
            a.footerContainer-menuLink(href='https://www.bbq.co.kr/brand/story.asp') BBQ Story
            a.footerContainer-menuLink(href='https://www.bbq.co.kr/brand/oliveFaq.asp') 올리브 이야기
            a.footerContainer-menuLink(href='https://www.bbq.co.kr/brand/picture.asp') 영상 컨텐츠
          .footerContainer-menuLinksColumn
            .footerContainer-menuLinksColHead BBQ 소식
            a.footerContainer-menuLink(href='https://www.bbq.co.kr/news/event.asp') 이벤트
            a.footerContainer-menuLink(href='https://www.bbq.co.kr/news/notice.asp') 공지사항
          .footerContainer-menuLinksColumn
            .footerContainer-menuLinksColHead BBQ체험
            a.footerContainer-menuLink(href='https://www.bbq.co.kr/camp/chicken.asp') 치킨캠프
            a.footerContainer-menuLink(href='https://www.bbq.co.kr/camp/camping.asp') 제휴캠핑장
          .footerContainer-menuLinksColumn
            .footerContainer-menuLinksColHead BBQ창업
            a.footerContainer-menuLink(href='https://www.bbq.co.kr/foundation/inquiry_db.asp') 창업문의
            a.footerContainer-menuLink(href='https://www.bbq.co.kr/foundation/guide_step.asp') 창업안내
            a.footerContainer-menuLink(href='https://www.bbq.co.kr/foundation/knowhow_story.asp') 성공노하우
            a.footerContainer-menuLink(href='https://www.bbq.co.kr/foundation/type_chicken.asp') 타입소개

        // SNS link
        .footerContainer-snsLinks
          a.footerContainer-snsLink.footerContainer-snsLink--instagram(href='https://www.instagram.com/bbq.chicken.insta', target='blank')
            span Instagram
          a.footerContainer-snsLink.footerContainer-snsLink--facebook(href='https://www.facebook.com/bbqfb', target='blank')
            span facebook
          a.footerContainer-snsLink.footerContainer-snsLink--naverblog(href='http://blog.naver.com/blogbbq', target='blank')
            span 네이버블로그

      .footerContainer-familySites
        .footerContainer-familySitesLinks
          a.footerContainer-familySitesLink(href='http://mall.bbq.co.kr/', target='blank') BBQ몰 바로가기
          a.footerContainer-familySitesLink(href='http://www.genesiskorea.co.kr/', target='blank') 제네시스그룹
          a.footerContainer-familySitesLink(href='http://bbqglobal.com/gl/main.asp', target='blank') Global BBQ

      .footerContainer-terms
        a.footerContainer-termsLink(href='')
          span 개인정보취급방침
        a.footerContainer-termsLink(href='')
          span 이메일주소무단수집거부
        a.footerContainer-termsLink(href='')
          span 이용약관
      .footerContainer-companyInfo
        p 서울특별시 송파구 중대로 64(문정동) 제너시스빌딩 대표이사: 윤경주
        p
          span 통신판매업신고: 2010-서울송파-1181호사업자등록번호: 207-81-43555
          span.footerContainer-companyInfo--right Copyright 2015 © GENESIS BBQ. All rights reserved.

        // end of section section--footer