.section
  .section-content
    // header
    .header
      // logo
      img.header-logo(src='./imgs/header-logo.png', alt='')
      .header-menu
        // links
        .header-links
          a(href='https://www.bbq.co.kr/menu/menu.asp') 온라인 주문
          a(href='https://www.bbq.co.kr/foundation/guide_step.asp') 창업 안내
        // navMenu
        .header-navMenuWrap
          .header-navMenu
            a.header-navMenuItem(href='#', onclick="window.open('https://www.bbq.co.kr/member/pop_login.asp','로그인', 'width=514,height=600,resizable,scrollbars=no,status=1'); return false;") 로그인
            a.header-navMenuItem(href='https://onepass.genesiskorea.co.kr/agree.asp?site=BBQ') 회원가입
            a.header-navMenuItem(href='') e-쿠폰
            a.header-navMenuItem(href='https://www.bbq.co.kr/mypage/order_list_nonmember.asp') 주문조회
            // end of section header