{
  "fix": true,
  "extends": "eslint:recommended",
  "globals": {
    "window": true,
    "document": true,
    "alert": true,
  },
  "rules": {
      "semi": [0, "always"],
      "comma-dangle": [0, "never"],
      "no-unused-vars": [1, {"vars": "all", "args": "none"}] ,
      "linebreak-style": [ 2, "unix" ],
      "no-console": 0,
      "no-mixed-spaces-and-tabs": 0
  },
  "env": { "es6": true, "node": false, "browser":true },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  }
}