@import url(https://fonts.googleapis.com/css?family=Oswald);

@import 'utils/_variables.css';
@import 'modules/_example.css';
@import 'partials/_pallete.css';

$body-padding: 1rem;

body {
  padding: $body-padding;
  font-size: var(--baseFontSize);
}

a {
  &:hover {
    color: var(--mainColor);
  }
}

