@import url(https://fonts.googleapis.com/css?family=Oswald);

@import 'utils/_variables.css';

@import 'modules/_example.css';

@import 'partials/_pallete.css';

@import 'component/_tab.css';


* {
  box-sizing: border-box;
}
body {
  font-size: var(--baseFontSize);
}

a {
  &:hover {
    color: var(--mainColor);
  }
}

