/* https://css-tricks.com/creating-a-css-sliding-background-effect/ */

.wrapper {
  overflow: hidden;
  margin: 50px auto;
}

.sliding-bg {
  width: 5760px;
  height: 375px;
  background: url('img-w5760.jpg');
  animation: slide 20s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1920px);
  }
}
