html {
  font-family: 'Nanum Square', '-apple-system', 'Malgun Gothic', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #1d1d1d;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

ol,
ul {
  margin: 0;
}

input[type=text] {
  ime-mode: desativated;
}

input[type=password] {
  ime-mode: auto;
}

button {
  background: none;
  border: none;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

@font-face {
  font-family: 'Nanum Square';
  src: url("/fonts/nanum-square/NanumSquareL.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/nanum-square/NanumSquareL.woff") format("woff"), url("/fonts/nanum-square/NanumSquareL.ttf") format("truetype"), url("/fonts/nanum-square/NanumSquareOTFLight.svg#017f9c78318bcde3d1dc4451e8eaca0a") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Nanum Square';
  src: url("/fonts/nanum-square/NanumSquareR.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/nanum-square/NanumSquareR.woff") format("woff"), url("/fonts/nanum-square/NanumSquareR.ttf") format("truetype"), url("/fonts/nanum-square/NanumSquareOTFR.svg#9e23ceb0c858ca37642ba540402577eb") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Nanum Square';
  src: url("/fonts/nanum-square/NanumSquareB.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/nanum-square/NanumSquareB.woff") format("woff"), url("/fonts/nanum-square/NanumSquareB.ttf") format("truetype"), url("/fonts/nanum-square/NanumSquareOTFB.svg#a41a1fda1fdf3dafd3394867a156b1cf") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Nanum Square';
  src: url("/fonts/nanum-square/NanumSquareEB.eot");
  /* IE9 Compat Modes */
  src: url("/fonts/nanum-square/NanumSquareEB.woff") format("woff"), url("/fonts/nanum-square/NanumSquareEB.ttf") format("truetype"), url("/fonts/nanum-square/NanumSquareOTFExtraBold.svg#090d6763bc81b49309446d23fbd10e87") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 900;
}

/**
 * section footer
 */
.section.section--footer {
  background-color: #1d1d1d;
}

.footerContainer {
  padding: 31px 0 61px;
  color: #fff;
}

.footerContainer-linksContainer {
  margin-top: 14px;
  margin-bottom: 45px;
}

.footerContainer-menuLinks {
  float: left;
  font-size: 12px;
  line-height: 1.85;
  letter-spacing: -0.4px;
}

.footerContainer-menuLinksColumn {
  float: left;
  width: 130px;
  text-align: left;
}

.footerContainer-menuLinksColHead {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.footerContainer-menuLink {
  display: block;
  text-decoration: none;
  line-height: 2.2;
  color: rgba(255, 255, 255, 0.5);
}

.footerContainer-snsLinks {
  float: right;
  width: 320px;
  margin-top: 40px;
}

.footerContainer-snsLink {
  float: left;
  width: 33.3333%;
  padding-top: 51.5px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  letter-spacing: -0.3px;
  text-align: center;
  background-position: top center;
  background-size: 41px;
  background-repeat: no-repeat;
}

.footerContainer-snsLink--instagram {
  background-image: url("../imgs/sns-instagram.png");
}

.footerContainer-snsLink--facebook {
  background-image: url("../imgs/sns-facebook.png");
}

.footerContainer-snsLink--naverblog {
  background-image: url("../imgs/sns-naverblog.png");
}

.footerContainer-familySites {
  padding: 20px 0;
  border-color: #262525;
  border-style: solid;
  border-width: 1px 0 1px 0;
}

.footerContainer-familySitesLinks {
  width: 80%;
  margin: 0 auto;
  font-size: 12px;
}

.footerContainer-familySitesLink {
  display: block;
  float: left;
  width: 20%;
  margin: 0 6.665%;
  padding-right: 10px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  background: url("../imgs/footer-arrow-right.png") no-repeat center;
  background-size: 5px 8.5px;
  background-position: right center;
}

.footerContainer-terms {
  margin-top: 45px;
}

.footerContainer-termsLink {
  font-size: 12px;
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
}

.footerContainer-companyInfo {
  margin-top: 23.5px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  line-height: 1;
}

.footerContainer-companyInfo--right {
  float: right;
}

.header {
  min-height: 111px;
}

.header-logo {
  width: 349px;
  height: auto;
  margin-top: 25px;
  margin-left: 10px;
}

.header-menu {
  float: right;
}

.header-links {
  margin-top: 26px;
  text-align: right;
}

.header-links > a {
  margin-left: 20px;
  font-size: 13px;
  color: #666666;
  text-decoration: none;
}

.header-links > a:hover {
  color: #f00;
}

.header-cartMenu {
  margin-top: 26px;
  /* float: right; */
}

.header-navMenuWrap {
  margin-top: 15.5px;
}

.header-navMenu {
  float: right;
}

.header-navMenuItem {
  font-size: 16px;
  margin-left: 27px;
  color: #000;
  text-decoration: none;
}

.u-clearfix:after, .footerContainer-linksContainer:after, .footerContainer-menuLinks:after, .footerContainer-familySitesLinks:after, .header:after, .header-menu:after, .header-navMenuWrap:after, .bannerSlider-slideContainer:after, .mainTabBar:after, .mainTabBar-tab:after, .menuSortTabBar:after, .menuContainer-row:after, .bbqBrandContainer:after, .bbqBrandHalfPanelContainer:after, .bbqBrandAnnounce-head:after, .bbqBrandAnnounce-row:after, .bbqBrandHalfPanelContainer-panel.bbqCsGuide:after {
  display: table;
  content: ' ';
  clear: both;
}

.u-text-ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.u-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.u-centeredFixed {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.u-centeredX, .bannerSlider-indicatorContainer {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.u-fixedCenteredX {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.u-centeredY {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.u-fixedCenteredY {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.u-centeredXFloat {
  position: relative;
  right: 50%;
  float: right;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.section {
  background-color: #fff;
}

.section-content {
  width: 900px;
  margin: 0 auto;
}

.section--menu {
  background-color: #f9f9f9;
  padding-bottom: 62px;
}

/* section--slider */
.section--bannerSlider {
  position: relative;
}

.bannerSlider {
  position: relative;
  background-color: #f2f2f2;
}

.bannerSlider-slideContainer {
  width: 100%;
  height: 410px;
  overflow: hidden;
}

.bannerSlider-slide {
  float: left;
  width: 100%;
  height: 410px;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.bannerSlider-controlContainer {
  position: absolute;
  z-index: 1;
  width: 900px;
  height: 410px;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

.bannerSlider-controlContainer > button {
  z-index: 10;
  position: absolute;
  width: 57px;
  height: 57px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bannerSlider-leftBtn {
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-image: url("../imgs/slide-left-btn.png");
}

.bannerSlider-rightBtn {
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-image: url("../imgs/slide-right-btn.png");
}

.bannerSlider-indicatorContainer {
  z-index: 1001;
  bottom: 43.5px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.bannerSlider-indicatorContainer > li {
  float: left;
  margin: 0 5px;
  background: url("../imgs/slide-indicator.png") no-repeat center;
  background-size: 40px 2px;
  list-style: none;
}

.bannerSlider-indicatorContainer > li.slick-active {
  background-image: url("../imgs/slide-indicator-is-current.png");
}

.bannerSlider-indicatorContainer > li > button {
  width: 40px;
  padding: 20px 10px;
  color: transparent;
}

.bannerSlider-indicatorContainer > li > button:hover {
  cursor: pointer;
}

.bannerSlider-indicator.is-current {
  background-image: url("../imgs/slide-indicator-is-current.png");
}

.bannerSlider-indicator:not(:last-child) {
  margin-right: 10px;
}

.indexPageSection--tabMenu {
  background-color: #fff;
}

.mainTabBar {
  position: relative;
  background-color: #fff;
  height: 58.5px;
}

.mainTabBar-tab {
  display: block;
  position: absolute;
  top: 0;
  float: left;
  width: 50%;
  height: 100%;
}

.mainTabBar-tab:nth-child(1) {
  left: 0;
}

.mainTabBar-tab:nth-child(2) {
  right: 0;
}

.mainTabBar-tab.is-current {
  margin-top: -5px;
  margin-bottom: -5px;
  height: 68.5px;
  width: calc(50% + 20px);
}

.mainTabBar-tab.is-current .mainTabBar-tabBg {
  float: left;
  background-color: #f00;
  width: calc(100% - 20px);
  height: 100%;
}

.mainTabBar-tab.is-current .mainTabBar-tabBgTriangle {
  float: left;
  width: 0;
  height: 0;
  border-top: 34.25px solid transparent;
  border-bottom: 34.25px solid transparent;
  border-left: 20px solid #f00;
}

.mainTabBar-tab.is-current .mainTabBar-tabBgTriangle--left {
  float: left;
  width: 0;
  height: 0;
  border-top: 34.25px solid transparent;
  border-bottom: 34.25px solid transparent;
  border-right: 20px solid #f00;
}

.mainTabBar-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
  background-size: 17.5px;
  background-repeat: no-repeat;
  background-position: 0 center;
  padding-left: 37.5px;
}

.mainTabBar-text.menu {
  background-image: url("../imgs/tab-menu-icon.svg");
}

.mainTabBar-tab.is-current .mainTabBar-text.menu {
  color: white;
  background-image: url("../imgs/tab-menu-icon-white.svg");
}

.mainTabBar-text.store {
  background-size: 19.5px;
  background-image: url("../imgs/tab-store-icon.png");
}

.mainTabBar-tab.is-current .mainTabBar-text.store {
  color: white;
  background-image: url("../imgs/tab-store-icon-white.png");
}

.menuContainer {
  margin-top: 33px;
}

.menuSortTabBar {
  width: 70%;
  margin: 12.5px auto 0;
}

.menuSortTabBar-tab {
  display: block;
  position: relative;
  float: left;
  width: 33.3333%;
  padding: 18.5px 0;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.menuSortTabBar-tab.is-selected {
  color: #f00;
}

.menuSortTabBar-tab.is-selected::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #f00;
  width: 60px;
  height: 2px;
}

/* grid gutter = 20px */
.menuContainer-row {
  margin-left: -20px;
  margin-right: -20px;
}

.menuContainer-row:not(:last-child) {
  margin-bottom: 90px;
}

.menuCard {
  display: block;
  float: left;
  width: 25%;
  padding: 0 20px;
  text-decoration: none;
  color: #1d1d1d;
}

.menuCard-thumbnail {
  width: 100%;
  height: 146.5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.menuCard-title {
  font-weight: bold;
  margin-top: 13px;
  line-height: 1;
  font-size: 16px;
  position: relative;
}

.menuCard-title:after {
  position: absolute;
  top: 0;
  right: 0;
  content: ' ';
  background: url("../imgs/menu-arrow-right-icon.png") no-repeat;
  background-size: 5.5px 10px;
}

.menuCard-desc {
  margin-top: 13.5px;
  font-size: 13px;
  height: 33px;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #1d1d1d;
}

.menuCard-price {
  margin-top: 30px;
  font-size: 16px;
  font-weight: bold;
}

.menuContainer-showMoreBtn {
  display: block;
  width: 70px;
  padding-top: 80px;
  margin: 60px auto 0;
  background: url("../imgs/show-more-btn.png") no-repeat center;
  background-size: contain;
  background-color: 57px;
  text-align: center;
  background-position: center top;
}

.section--brand {
  background-color: #fff;
  padding-top: 60px;
}

/* grid row */
.bbqBrandContainer {
  margin-left: -7.5px;
  margin-right: -7.5px;
}

/* grid column */
.bbqBrandItem {
  float: left;
  width: 33.3333%;
  padding: 0 7.5px;
}

.bbqBrandItem-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
}

.bbqBrandItem-titleDesc {
  font-size: 12px;
  margin-top: 15px;
  line-height: 1;
}

.bbqBrandItem-contentImg {
  width: 100%;
  height: 140px;
  background-size: cover;
  background-position: center;
  border: 1px solid #dfdfdf;
}

.bbqBrandItem-contentTitle {
  margin-top: 20px;
  font-size: 13px;
  font-weight: bold;
}

.bbqBrandItem-contentDesc {
  font-size: 13px;
  margin: 5px 0;
  letter-spacing: -0.3px;
}

.bbqBrandHalfPanelContainer {
  margin-top: 60px;
  border-top: 1px solid #f6f6f6;
}

.bbqBrandHalfPanelContainer-panel {
  float: left;
  width: 50%;
  padding-top: 60px;
  padding-bottom: 50px;
}

.bbqBrandHalfPanelContainer-panel:first-child {
  border-right: 1px solid #f6f6f6;
}

.bbqBrandHalfPanelContainer-panel.bbqBrandAnnounce {
  padding-right: 41px;
}

.bbqBrandAnnounce-head {
  border-bottom: 1px solid #1d1d1d;
  padding-bottom: 20px;
  margin-bottom: 17px;
}

.bbqBrandAnnounce-headText {
  float: left;
  font-weight: bold;
  line-height: 1;
}

.bbqBrandAnnounce-showMore {
  float: right;
  text-decoration: none;
  color: #1d1d1d;
  font-size: 12px;
  padding-right: 15px;
  background: url("../imgs/menu-arrow-right-icon.png") no-repeat;
  background-position: right center;
  background-size: 4px 7.5px;
}

.bbqBrandAnnounce-list {
  list-style-type: disc;
  padding: 0;
}

.bbqBrandAnnounce-row {
  padding-left: 5px;
  position: relative;
  display: list-item;
  margin: 9px 0;
  font-size: 13px;
  letter-spacing: -0.4px;
}

.bbqBrandAnnounce-title {
  margin-left: -5px;
}

.bbqBrandAnnounce-date {
  float: right;
}

.bbqBrandHalfPanelContainer-panel.bbqCsGuide {
  padding-left: 41px;
}

.bbqCsGuide-panel {
  float: left;
  width: 50%;
  padding-right: 40px;
}

.csGuide-title {
  font-size: 16px;
  font-weight: bold;
}

.csGuide-phoneNumber {
  margin-top: 13px;
  font-size: 16px;
  font-weight: bold;
  background: url("../imgs/phone-icon.png") no-repeat left center;
  background-size: 14px;
  padding-left: 20px;
}

.csGuide-noticeList {
  font-size: 13px;
  margin-top: 22px;
  margin-left: 10px;
  padding-left: 10px;
}

.csGuide-noticeList > li {
  line-height: 2;
}

/*# sourceMappingURL=map/index.css.map */
