/* @lost gutter 30px; */

.Grid {
  lost-center: 95%;
  lost-utility: edit;


  @media (--sm) {
    lost-center: 720px;
  }
  @media (--md) {
    lost-center: 960px;
  }

  margin-bottom: 30px;

  & > * {
    background-color: color(#42cafd l(+20%));
    outline: 1px solid color(#42cafd b(+20%));
  }

  &-responsive {
    lost-column: 1;
    @media (--sm) {
      lost-column: 1/2 2;
    }
    @media (--md) {
      lost-column: 1/4 4;
    }
  }

  &-responsive-no-gutter {
    lost-column: 1;
    @media (--sm) {
      lost-column: 1/2 2 5px;
    }
    @media (--md) {
      lost-column: 1/4 4 0;
    }
  }

  &-half {
    lost-column: 1/2 2;
  }

  &-quarter {
    lost-column: 1/4 4;
  }

  &-waffle {
    lost-waffle: 1/3;
    lost-gutter: 10px;
  }

}


.row {
  lost-utility: clearfix;
  lost-utility: edit;
}

.half {
  lost-column: 1/2 0;
}
.quarter {
  lost-column: 1/4 0;
}

.row-offset {
  lost-utility: edit;
  div {
    lost-column: 1/3;
  }
  .offset-left {
    lost-offset: -1/3;
  }
  .offset-right {
    lost-offset: 1/3;
  }
}
