@charset 'utf-8';

.search {
  @mixin icon search;
}

@define-extend pallete {
  clear: fix;
  display: flex;
  width: 80%;
  margin: 1rem 10%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

@define-extend pallete-color {
  flex: 1;
  height: 200px;
}

.pallete-heading {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.pallete-retro-light {
  @extend pallete;

  > div {
    @extend pallete-color;
  }
  .color-1 {
    background-color: #e5c3c6;
  }
  .color-2 {
    background-color: #e1e9b7;
  }
  .color-3 {
    background-color: #f96161;
  }
  .color-4 {
    background-color: #bcd2d0;
  }
  .color-5 {
    background-color: #d0b783;
  }
}

.pallete-facebook {

  @extend pallete;

  > div {
    @extend pallete-color;
  }
  .color-1 {
    background-color: #3b5998;
  }
  .color-2 {
    background-color: #8b9dc3;
  }
  .color-3 {
    background-color: #dfe3ee;
  }
  .color-4 {
    background-color: #f7f7f7;
  }
  .color-5 {
    background-color: #fff;
  }
}

