block settings
	include part/config

doctype html
html(lang="ko-KR")
	//- head
	//- ============================================================
	head

		block commonMeta
			include part/meta

		block meta

		block commonStyles
			include part/stylesheet

		block styles

	//- body
	//- ============================================================
	body
		block header
			include part/header

		block main

		block footer
			include part/footer

		block commonScripts

		block scripts

	//- ============================================================
	//- end of body